body {
  height: 100%;
  width: auto;
  font-family: Consolas, sans-serif;
  font-size: 18px;
  background: url(https://s3.amazonaws.com/papawheelie/images/lined_transparent.png);
  background-size: cover;
  padding: 0;
  margin: 0;
}

.title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}

h1 {
  display: flex;
  align-items: flex-end;
  width: 500px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 80px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 100px 0 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 0;
  justify-content: center;
}

.nav-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 220px;
  width: 480px;
  margin: 10px;
  font-size: 1.2rem;
}

.nav-img {
  display: block;
  filter: drop-shadow(5px 5px 5px #444444);
}

.nav-a {
  display: block;
}

p {
  font-size: 1.4rem;
  width: 600px;
  margin: 15px auto;
  line-height: 2.25rem;
}

footer {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
}
